@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  margin-top: 70px;
  margin-inline: 300px;
  color: $color-white;
  font-family: 'SF Pro Display', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include for-phone {
    padding: 40px;
    margin-top: 0px;
    margin-inline: 0px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}

h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 800;
    color: $color-primary;
}

.img {
  height: auto;
  width: 100%;
}