//colors

$background-color: #202020;

$color-primary: #4CFF7F;
$color-primary-hover: #a59ce2;
$color-primary-hover-2: #c9c4ed;

$color-gray: #353535;
$color-white: #ffffff;


//borders
$border-custom: 15px;

//sizes

$sze-phone-sm: 320px;
$sze-phone-md: 380px;
$sze-phone-bg: 480px;
$sze-ipad: 768px;
$sze-ipad-pro: 1024px;
$sze-laptop-sm: 1200px;
$sze-laptop-mac: 1440px;
$sze-desktop: 1920px;
$sze-desktop-qHD: 2560px;
$sze-desktop-uHD: 3840px;

$box-shadow: inset 0px -1px 0px #e4e4e7;
